body {
    background-color: #212529;
}
a.nav-link {
    color: #A48B4D;
}

.centerImage {
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    height: 600px;
    background-image: url("./KH_OurJourney_Bkgd_02_800.png");
    background-size: cover;
    /* padding-top: 175px; */
    color: white;
}

.centerImage .row {
    height: 100%;
}

.footer {
    color: #A48B4D;
    text-decoration: underline;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: 12px;
}


.rightCol a.nav-link{
    margin-left: auto;
    margin-right: 5px;
    text-align: right;
    font-size: 12px;
}
.rightCol a.nav-link i{
    color: white;
    margin-left: auto;
    margin-right: 5px;
    text-align: right;
}